// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.back-link {
  // border-top: 1px solid lightgrey;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
